html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 2rem;
  background: #000000 url(/media/animations/darkdoor_background.gif) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.h-fit {
  height: fit-content;
}

.card_icon {
  background: #ffffff1f;
  border-radius: 1rem;
}

.blur {
  backdrop-filter: blur(6px);
}

.glass {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  min-width: 180px;
  position: relative;
  transition: transform 250ms;
  margin: auto;
  color: white;
}
.glass button:hover {
  color: black;
}
.glass a:hover {
  color: black;
}
.item {
  background: rgba(255, 255, 255, 0.05);
  color: #111;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  border: 1px solid #cecece80;
  cursor: pointer;
}

.item:hover {
  background: white;
}

/* Styles for the snackbar container */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

/* Show the snackbar */
.show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

/* Animation for showing and hiding the snackbar */
@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.search-container {
  max-width: 100%;
  margin: 0 auto;
}
.search-box {
  background: gray;
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 1px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 6px 16px;
}
.search-box input {
  background: gray;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  width: 78%;
}
.search-box input::placeholder {
  color: white;
}
.search-btn {
  background-color: #ffffff00;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 41px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: 600;
}
.search-btn:hover {
  background-color: rgb(255, 255, 255);
}

/*
 * Menu styles and animation
 */

.main-menu {
  position: fixed;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  visibility: hidden;
  z-index: 2;
  transform: rotate(-15deg) translate3d(0, 0, 0);
}

.main-menu::before,
.main-menu::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  width: 100%;
  height: 80%;
  background-color: black;
  transform-origin: center center;
  transition: all 500ms ease;
  will-change: transform;
  z-index: -1;
}

.main-menu::before {
  top: 51%;
  transform: translate(100%, -100%) translate3d(0, 0, 0);
}

.main-menu::after {
  top: 49%;
  transform: translate(-150%, 0%) translate3d(0, 0, 0);
  transition-delay: 100ms;
}

.main-menu .nav {
  position: relative;
  display: inline-block;
  padding: 0px;
  transform: rotate(15deg);
}

.main-menu .nav__item {
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-15px) translate3d(0, 0, 0);
  transition: all 100ms ease 100ms;
  user-select: none;
}

.main-menu .nav__item a {
  color: white;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

.main-menu.open {
  visibility: visible;
}

.main-menu.open::before {
  animation: menu-in-left 500ms ease;
  transform: translate(-50%, -100%) translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.main-menu.open::after {
  animation: menu-in-right 500ms ease 100ms;
  transform: translate(-50%, 0%) translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.main-menu.open .nav__item {
  opacity: 1;
  transform: translateX(0px) translate3d(0, 0, 0);
  transition: all 250ms ease;
}

.main-menu.open .nav__item:nth-child(0n) {
  transition-delay: 250ms;
}

.main-menu.open .nav__item:nth-child(1n) {
  transition-delay: 300ms;
}

.main-menu.open .nav__item:nth-child(2n) {
  transition-delay: 350ms;
}

.main-menu.open .nav__item:nth-child(3n) {
  transition-delay: 400ms;
}

.main-menu.open .nav__item:nth-child(4n) {
  transition-delay: 450ms;
}

.main-menu.open .nav__item:nth-child(5n) {
  transition-delay: 500ms;
}

.main-menu.open .nav__item:nth-child(6n) {
  transition-delay: 550ms;
}

.main-menu.open .nav__item:nth-child(7n) {
  transition-delay: 600ms;
}

.main-menu.open .nav__item:nth-child(8n) {
  transition-delay: 650ms;
}

.main-menu.open .nav__item:nth-child(9n) {
  transition-delay: 700ms;
}

.main-menu.open .nav__item:nth-child(10n) {
  transition-delay: 750ms;
}

.main-menu.open .nav__item:nth-child(11n) {
  transition-delay: 800ms;
}

.main-menu.open .nav__item:nth-child(12n) {
  transition-delay: 850ms;
}

.main-menu.open .nav__item:nth-child(13n) {
  transition-delay: 900ms;
}

.main-menu.open .nav__item:nth-child(14n) {
  transition-delay: 950ms;
}

.main-menu.open .nav__item:nth-child(15n) {
  transition-delay: 1000ms;
}

.main-menu.open .nav__item:nth-child(16n) {
  transition-delay: 1050ms;
}

.main-menu.open .nav__item:nth-child(17n) {
  transition-delay: 1100ms;
}

.main-menu.open .nav__item:nth-child(18n) {
  transition-delay: 1150ms;
}

.main-menu.open .nav__item:nth-child(19n) {
  transition-delay: 1200ms;
}

.main-menu.open .nav__item:nth-child(20n) {
  transition-delay: 1250ms;
}

.main-menu.open .nav__item a {
  transition: all 250ms ease;
}

@keyframes menu-in-left {
  0% {
    transform: translate(-150%, -100%) translate3d(0, 0, 0);
  }
  100% {
    transform: translate(-50%, -100%) translate3d(0, 0, 0);
  }
}

@keyframes menu-in-right {
  0% {
    transform: translate(100%, 0%) translate3d(0, 0, 0);
  }
  100% {
    transform: translate(-50%, 0%) translate3d(0, 0, 0);
  }
}

.btn-nav {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

@-webkit-keyframes psychedelic {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }

  50% {
    -webkit-filter: hue-rotate(360deg) saturate(8) invert(0.25);
  }

  100% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }
}

.grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-container {
  text-align: center;
  background-color: rgb(255 255 255 / 0%);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .grid-view {
    grid-template-columns: 1fr;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 16px;
  }
}
